streamlit>=1.24
pandas>=1.5
pillow>=10
openpyxl>=3.0
matplotlib>=3.5
seaborn>=0.12.0
pyperclip>=1.8.2
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
streamlit-authenticator>=0.2.3
bcrypt>=4.0.0
PyYAML>=6.0
